In [ ]:
!pip install pylirecouleur

Collecting pylirecouleur
  Downloading pylirecouleur-0.0.5-py3-none-any.whl (37 kB)
Installing collected packages: pylirecouleur
Successfully installed pylirecouleur-0.0.5

In [ ]:
mot = "maison"

In [ ]:
import lirecouleur.word
sy = lirecouleur.word.syllables(mot)
numSy = len(sy)
numMot = len(mot)

In [ ]:
import pandas as pd

In [ ]:
df = pd.DataFrame(columns=["Mot", "Nombre of Lettres", "Nombre de Syllable"])

In [ ]:
df.loc[0] = [mot, numMot, numSy]

In [ ]:
df

      Mot  Nombre of Lettres  Nombre de Syllable
0  maison                  6                   2